@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
@import "./mixins";
@import "./variables";


html,
body {
  padding: 0;
  margin: 0 auto;
  font-family: 'Raleway', sans-serif;
  width: 100%;
  background: #100E1D;
}


* {
  box-sizing: border-box;
}

// styles to position background cloud image on left hand box
.cloudimg{
    opacity: 0.038;
    z-index: -10;
}

  // styles for animation of SideBar
  .slide-in-left {
    -webkit-animation: slide-in-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.2s both;
	  animation: slide-in-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.2s both;
  }

  @-webkit-keyframes slide-in-left {
    0% {
      -webkit-transform: translateX(-1000px);
              transform: translateX(-1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
  }
  @keyframes slide-in-left {
    0% {
      -webkit-transform: translateX(-1000px);
              transform: translateX(-1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
  }

  // styles for search icon in search field
  .searchbtn{
    top:25%;
    left:3%;
  }

//css for spinner
.spinner-page {
  width:30px;
  height:30px;
  border-radius:50%;
  background:conic-gradient(#0000 10%,#FFEC65);
  -webkit-mask:radial-gradient(farthest-side,#0000 calc(100% - 8px),#000 0);
  animation: s3 1s infinite linear;
}
@keyframes s3 {to{transform: rotate(1turn)}}

//css for spinner
.spinner-white {
  width:20px;
  height:20px;
  border-radius:50%;
  background:conic-gradient(#0000 10%,#FFFFFF);
  -webkit-mask:radial-gradient(farthest-side,#0000 calc(100% - 8px),#000 0);
  animation: s3 1s infinite linear;
}
@keyframes s3 {to{transform: rotate(1turn)}}
  

@media screen and (max-width: 767px){
  
}