@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
@import "./mixins";
@import "./variables";


html,
body {
  padding: 0;
  margin: 0 auto;
  font-family: 'Raleway', sans-serif;
  width: 100%;
  background: #100E1D;
}


* {
  box-sizing: border-box;
}

// styles to position background cloud image on left hand box
.cloudimg{
    opacity: 0.038;
    z-index: -10;
}

// Styles for progress bar
  .progress-bar {
      position: relative;
      height: 8px;
      width: 200px;
      border-radius: 50px;
      border: 1px solid #333;
      background-color: white !important;
  }
  
  .filler {
      background: #FFEC65;
      height: 100%;
      border-radius: inherit;
      transition: width .2s ease-in;
  }

@media screen and (max-width: 767px){
  
}